@import "src/_variables.scss";

.container {
    max-width: 1280px;
    margin: 16px auto;
}

.navigation {
    list-style-type: none;
}

.navigationItem {
}
@media screen and (min-width: $xs-breakpoint) {
    .container {
    }
    .navigationItem {
        display: inline-block;
    }
}

ul {
    list-style-type: none;
}

// .subMenu{
//   position: absolute;
//   top: 0;
//   left: 0;
// }
