@import "src/_variables.scss";

.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    flex: 1;
    text-align: left;
    margin-left: $spacingL;
}

.link {
    color: $colorDark1;
    text-decoration: none;
    font-weight: 500;
    text-align: left;
    margin-right: $spacingM;
    &:hover {
        color: $colorYellow2;
    }
}
