@import "src/_variables.scss";

.container {
    display: flex;
    flex: 1;
    gap: $spacing;
    flex-wrap: wrap;
    @media screen and (min-width: $xs-breakpoint) {
        flex-wrap: nowrap;
    }
}

.productItem {
    min-width: 100%;
    display: flex;
    @media screen and (min-width: $xs-breakpoint) {
        min-width: 25%;
        width: 25%;
    }
}
