@import "src/_variables.scss";

.container {
    display: grid;
    gap: $spacingS;
    flex-wrap: wrap;
    @media screen and (max-width: $xs-breakpoint) {
        grid-template-columns: repeat(2, 1fr) !important;
    }
}

.productItem {
    box-sizing: border-box;
    display: flex;
}
