$xs-breakpoint: 481px;
$sm-breakpoint: 769px;
$md-breakpoint: 1025px;
$lg-breakpoint: 1201px;

$spacingXS: 4px;
$spacingS: 8px;
$spacing: 16px;
$spacingM: 24px;
$spacingL: 32px;

$colorDark3: #1e2328;
$colorDark2: #2a2e34;
$colorDark1: #3b3f46;
$colorYellow2: #f5b301;
$colorYellow1: #fed031;
$colorGray: #d5d5d3;

$standardSize: 960px;

$fontSize: 1em;
$fontSizeS: $fontSize * 7/8;
